.article{
    display: grid;
    color: white;
    grid-template-rows: 1.9fr 0.1fr;
    align-items:auto;
    border-radius: 30px;
    
}

.article:hover{
    background-color: rgba(83, 83, 85, 0.681);
}

.picture{
   
    border-radius: 30px;
}

.picture:hover{
   
    cursor: pointer;
}


.backimg{
  
    background-size: cover;
    background-repeat: no-repeat;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    
}